@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}

html {
  background-color: rgba(228, 228, 231, 1);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 228, 231, 1);
}

.content {
  margin-top: 10px;
  height: auto;
}

@media only screen and (max-width: 468px) {
  h1 {
    font-size: 1.5rem !important;
  }

  .form .campo-container {
    margin: 5px 0px;
  }

  .login-form-container,
  .register-form-container,
  .profile-form-container {
    padding: 15px;
  }
}
